#!/usr/bin/make -f

export PYBUILD_NAME=electrum-pac

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_installchangelogs::
	dh_installchangelogs -k RELEASE-NOTES

override_dh_auto_install::
	dh_auto_install
	mkdir -p debian/electrum-pac/usr/bin \
             debian/electrum-pac/usr/share
	cp -r debian/python3-electrum-pac/usr/bin \
       debian/electrum-pac/usr
	cp -r debian/python3-electrum-pac/usr/share/applications \
       debian/electrum-pac/usr/share
	cp -r debian/python3-electrum-pac/usr/share/pixmaps \
       debian/electrum-pac/usr/share
	mkdir -p debian/dash-electrum/usr/bin \
             debian/dash-electrum/usr/share
	mv debian/python3-electrum-pac/usr/bin \
       debian/dash-electrum/usr
	mv debian/python3-electrum-pac/usr/share/applications \
       debian/dash-electrum/usr/share
	mv debian/python3-electrum-pac/usr/share/pixmaps \
       debian/dash-electrum/usr/share
